<section class="contact-page">

  <div class="contact-card">

    <h2>İletişim</h2>
    <p>Bizimle hızlıca iletişime geçebilirsin.</p>

    <input
      placeholder="Ad Soyad"
      [(ngModel)]="form.fullName"
    />

    <input
      placeholder="E-posta"
      type="email"
      [(ngModel)]="form.email"
    />

    <input
      placeholder="Telefon Numarası (opsiyonel)"
      inputmode="tel"
      [(ngModel)]="form.phone"
    />

    <input
      placeholder="Konu"
      [(ngModel)]="form.subject"
    />

    <textarea
      rows="4"
      placeholder="Mesajınız"
      [(ngModel)]="form.message"
    ></textarea>

    <p class="error" *ngIf="errorMessage">
      {{ errorMessage }}
    </p>

    <button
  type="submit"
  [disabled]="loading"
>
  {{ loading ? 'Gönderiliyor...' : 'Gönder' }}
</button>



  </div>

  <!-- SUCCESS MODAL -->
  <div class="success-modal" *ngIf="showSuccess">
  <h3>Başarıyla Gönderildi</h3>
  <p>Mesajın bize ulaştı.</p>

  <button (click)="closeModal()">Kapat</button>
</div>


</section>
