<div class="card">

  <!-- BADGE -->
  <div class="badge">Yeni</div>

<div class="premium-hint">
  🔒 Premium ile öne çık
</div>

  <h3 class="title">{{ match.location_name }}</h3>
  <p class="location">📍 {{ match.city }} / {{ match.district }}</p>

  <div class="meta">
    🕒 {{ match.match_time }} • {{ match.match_date }}
  </div>

  <div class="players">
    👥 {{ match.required_players }} oyuncu aranıyor
  </div>

  <div
    class="price"
    [class.free]="!match.price_per_player">
    {{ match.price_per_player ? match.price_per_player + ' ₺' : 'Ücretsiz' }}
  </div>

  <a
    class="detail-btn"
    [routerLink]="['/matches', match.id]">
    Detaya Git
  </a>
<div class="premium-lock-badge">
  🔒 Premium profiller üst sıralarda görünür
</div>

</div>
