/* ===== GLOBAL RESET ===== */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: Inter, system-ui, sans-serif;
  background: #020617;
  color: #ffffff;
}

/* Angular root */
app-root {
  display: block;
  width: 100%;
  min-height: 100vh;
}

/* Router content */
router-outlet + * {
  display: block;
  width: 100%;
}
